@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

.dark {
  --foreground: #fff;
  --background: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}
